@keyframes slide-out {
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

::view-transition-old(root) {
  animation:
    slide-out 0.5s ease both,
    fade-out 0.25s ease both;
}

::view-transition-new(root) {
  animation:
    slide-in 0.5s ease both,
    fade-in 0.8s ease both;
}
