$bp-sm: 40rem; // 640px
$bp-md: 48rem; // 768px
$bp-lg: 64rem; // 1024px
$bp-xl: 80rem; // 1280px
$bp-2xl: 96rem; // 1536px
$bp-3xl: 120rem; // 1920px

@mixin below($breakpoint) {
  @media (width < $breakpoint) {
    @content;
  }
}

@mixin above($breakpoint) {
  @media (width >= $breakpoint) {
    @content;
  }
}
